.row: .col.large-6.center.calc
  .header-right
    | Gengi.is/
    span() {{fromValue}}
    span {{currencyShortName}}
  a.go-back.ss-icon.ss-standard.ss-directleft(ng-href='/#/')
  h1: | {{currencyShortName}}
    small {{currencyLongName}}
