header
  .row: .col.large-6.center
    h1 Gengi.is

nav.top
  .row: .col.large-6.center
    ul(class='{{listView}}')
      li(ng-click='updateView("list")') Listi
      li(ng-click='updateView("grid")') Grid
