head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  title(ng-bind="pageTitle") Gengi.is - Reiknaðu nýjasta gengi gjaldmiðla

  meta(name="description", content='Náðu í nýjasta gengi gjaldmiðla og reiknaðu á einfaldan hátt í snjallsímavænu viðmóti. Gengi dollars, evru, punds, bitcoin og svo margt fleira.')
  meta(name="keywords", content='gengi gjaldmiðla,gjaldmiðlar,gengi eur,gengi usd,gengi gbp,gengi btc,bitcion,gengisreiknir,gengisreiknivél, gengis reiknivél'}

  link(href="/img/icon/gengi-is.ico", rel="icon", type="image/x-icon")
  link(href='/img/icon/gengi-is.ico', rel='shortcut icon', type='image/vnd.microsoft.icon')
  link(href="/img/icon/48.png", rel="icon", type="image/png")

  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="format-detection", content="telephone=no")

  meta(property="og:title", content="Gengi.is - Reiknaðu nýjasta gengi gjaldmiðla")
  meta(property="og:description", content="Náðu í nýjasta gengi gjaldmiðla og reiknaðu á einfaldan hátt í snjallsímavænu viðmóti. Gengi dollars, evru, punds, bitcoin og svo margt fleira.")
  meta(property="og:image", content="http://www.gengi.is/img/gengi-facebook.png")
  meta(property="og:image:type", content="image/jpg")
  meta(property="og:image:width", content="1200")
  meta(property="og:image:height", content="627")

  //- //- Retina >= iOS 7
  link(rel="apple-touch-icon-precomposed", sizes="152x152", href="/img/icon/152.png")
  link(rel="apple-touch-icon-precomposed", sizes="120x120", href="/img/icon/120.png")
  //- //- Retina <= iOS 6
  link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/img/icon/144.png")
  link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/img/icon/114.png")
  //- //- Non-retina
  link(rel="apple-touch-icon-precomposed", sizes="72x72",   href="/img/icon/72.png")
  link(rel="apple-touch-icon-precomposed",                  href="/img/icon/57.png")

  //- //- Windows Pinned site
  meta(name="application-name", content=title)
  //- //- Appears when you hover over the pinned site shortcut
  meta(name="msapplication-tooltip", content="Gengi.is - The mobile friendly currency converter")
  //- //- Root url of the application
  meta(name="msapplication-starturl", content="./")
  //- //- Pinned site window size
  //- meta(name="msapplication-window", content="width:1200;height:768")
  //- //- Color of back/fwd buttins in pinned site browser window
  //- meta(name="msapplication-navbutton-color", content="#ff3300")

  //- Windows 8 tiles
  meta(name="msapplication-TileImage", content="/img/icon/144.png")
  meta(name="msapplication-TileColor", content="#00ff00")

  link(rel='stylesheet', href='css/sissa.css')
  link(rel='stylesheet', href='http://a2.form5.is/assets/webfonts/ss-standard.css')
  script(data-main='js/main', src='js/vendor/require.js')

  script(type="text/javascript", src="//use.typekit.net/pae8grw.js")
  script(type="text/javascript").
    try{Typekit.load();}catch(e){}
