.not-found {
  text-align: center;
  padding-top: 60px;

  .ss-icon {
    font-size: 74px;
    line-height: 74px;
    color: rgba($color-dark, 0.15);
  }
  p {
    display: inline-block;
    color: $color-dark;
    margin: 20px 0 0;
    max-width: 340px;
    line-height: 1.5;
  }

  p + p {
    margin-bottom: 60px;
  }

  a.button {
    display: block;
    color: $color-dark;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;

    background: white;

    line-height: 60px;

    &:hover {
      background: $color-dark;
      color: white;
    }
  }
}