// Boxes
$box-padding: $spacing $spacing 0;

.box {
  @include clearfix;
  margin: 0 auto $spacing;
  padding: $box-padding;

  .in-box {
    @include clearfix;
    margin: 0 (-$spacing) $spacing;
    + .in-box { margin-top: -($spacing - 1); }

    line-height: em-calc(30,14);
    font-size: em-calc(14);
    color: $color-primary;

    background-color: #f6f6f5;

    &.primary {
      background-color: $color-primary;
      color: $color-light;
    }

    &.split {
      >a,
      >span {
        float: left;
        display: inline-block;
        width: 50%;

        + a, + span { border-left: 1px solid $color-white; }
      }
    }

    >a {
      position: relative;
      display: block;
      font-family: $font-family;

      &:before {
        position: absolute;
        top: 0;
        left: $spacing/2;
        bottom: 0;
        // padding-left: $spacing/2;
      }
    }
  }

  .icon-block {
    @include transition(background $transition-speed-fast);
    display: inline-block;
    width: $spacing*2;
    min-height: $spacing*3;
    position: relative;

    background-color: black;
    background-color: rgba(black,0.25);

    &:hover { background-color: rgba(black,0.15); }

    &:before {
      display: block;
      margin: auto;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      font-size: em-calc(18);
      line-height: em-calc(22,18);
      color: $color-light;
    }
  }

  &.contact-us {
    padding: 0 ($spacing*4 + 1) 0 0;
    min-height: $spacing*3;
    position: relative;

    .icon-block {
      position: absolute;
      top: 0;
      bottom: 0;
      right: $spacing*2 + 1;
      &:first-child { right: 0; }
    }

    p {
      margin: 0;
      padding: $spacing/2;
      text-align: left;
      line-height: em-calc(20);

      @media only screen and (max-width: 350px) {
        >br { display: none;}
      }
    }
  }

  &.primary {
    background-color: $color-primary;
    color: $color-light;
  }

  &.secondary {
    background-color: $color-secondary;
    color: $color-light;
  }

  &.white {
    background-color: $color-white;
    color: $color-secondary;
    h1, h2, h3, h4, h5, h6 { color: $color-primary; }
  }
}
