// Boxes
$box-padding: $spacing $spacing 0;

.box {
  @include clearfix;
  margin: 0 auto $spacing;
  padding: $box-padding;

  .in-box {
    @include clearfix;
    margin: 0 (-$spacing) $spacing;
    + .in-box { margin-top: -($spacing - 1); }

    line-height: em-calc(30,14);
    font-size: em-calc(14);
    color: $color-primary;

    background-color: rgba($color-light,0.7);

    &.primary {
      background-color: $color-primary;
      color: $color-light;
    }

    &.split {
      >a,
      >span {
        float: left;
        display: inline-block;
        width: 50%;

        + a, + span { border-left: 1px solid $color-white; }
      }
    }

    >a {
      position: relative;
      display: block;
      font-family: $font-family;

      &:before {
        position: absolute;
        top: 0;
        left: $spacing/2;
        bottom: 0;
        // padding-left: $spacing/2;
      }
    }
  }

  .icon-block {
    @include transition(background $transition-speed-fast);
    display: inline-block;
    width: $spacing*2;
    height: $spacing*3;

    background-color: black;
    background-color: rgba(black,0.25);

    &:hover { background-color: rgba(black,0.15); }

    &:before {
      display: block;
      line-height: $spacing*3.5;
      font-size: 18px;
      color: $color-light;
    }
  }

  &.contact-us {
    padding: 0;
    height: $spacing*3;
    .icon-block { float: right; }
    p {
      padding: $spacing/2 $spacing/2 0;
      text-align: left;
      line-height: em-calc(20);
    }
  }

  &.primary {
    background-color: $color-primary;
    color: $color-light;
  }

  &.secondary {
    background-color: $color-secondary;
    color: $color-light;
  }

  &.white {
    background-color: $color-white;
    color: $color-secondary;
    h1, h2, h3, h4, h5, h6 { color: $color-primary; }
  }
}
