@include keyframes(fadein) {
  0% { opacity: 0; }
  60% { opacity: 0; }
  100% { opacity: 1; }
}

@mixin flipper() {
  li {
    @include perspective(1200);
    position: relative;

    .flip {
      @include transform-style(preserve-3d);
      @include transition-delay($transition-speed-slow);
      @include transition($transition-speed-slow);
      a,input {
        @include backface-visibility(hidden);
      }

      .main-view.ng-enter & { @include transition-delay($transition-speed-slow*2); @include rotateX(90deg); }
      &.visible,
      .main-view.ng-enter.ng-enter-active & { @include rotateX(0deg); }

      .main-view.ng-leave & { @include transition-delay($transition-speed-slow); @include rotateX(0deg); }
      &.hidden,
      .main-view.ng-leave-active & { @include rotateX(-90deg); }
    }
  }
}

ul {
  li:nth-child(n+7) {
    display: none;
  }

  &.expand {
    li {
      display: list-item;
    }
  }

  &.currency-list {
    @include reset-list;
    @include clearfix;
    margin: 0 (-$grid-gutter/2);
    padding: 0;

    @include flipper();

    >li {
      @include transition(width $transition-speed,opacity $transition-speed-slow);
      overflow: hidden;
      float: left;
      margin: 0 auto $spacing/2;
      padding: 0 $grid-gutter/2;
      width: 100%;

      @include translate3d(0,0,0);

      a {
        @include transition(height $transition-speed-slow);
        overflow: hidden;
        display: block;

        height: 60px;
        line-height: 60px;
        position: relative;

        background: $color-white;
      }

      h2 {
        @include animation(fadein ($transition-speed-slow*1.5) 1);
        margin: 0;

        position: absolute;
        top: 0;
        left: $spacing*2.5;
        z-index: 4;

        line-height: 40px;
        color: $color-primary;
      }

      h3 {
        @include transition(opacity $transition-speed-slow);
        @include transition-delay($transition-speed-slow);
        margin: 0;
        color: $color-secondary;

        position: absolute;
        top: 40px;
        left: (($spacing*2.5) + 1);
        z-index: 4;
      }

      span.list-left {
        @include transition(width $transition-speed-slow);
        display: block;
        width: $spacing*2;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 5;

        line-height: 60px;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        color: $color-primary;

        background: $color-secondary;
      }

      span.symbol {
        @include transition(margin $transition-speed-slow, left $transition-speed-slow);
        display: block;
        margin: 0;
        width: $spacing*2;

        line-height: 60px;
        font-weight: 700;
        font-size: em-calc(28);
        text-align: center;
        color: $color-primary;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 6;

        -webkit-font-smoothing: antialiased;

        &.BTC:before { content: 'B';}
        &.USD:before { content: '$';}
        &.EUR:before { content: '€';}
        &.GBP:before { content: '£';}
        &.JPY:before { content: '¥';}
        &.ISK:before { content: 'kr'; font-size: em-calc(18,28);}
        &.NOK:before { content: 'kr'; font-size: em-calc(18,28);}
        &.SEK:before { content: 'kr'; font-size: em-calc(18,28);}
        &.DKK:before { content: 'kr'; font-size: em-calc(18,28);}
        &.CHF:before { content: 'Fr'; font-size: em-calc(18,28);}
        &.CAD:before { content: '$';}
        &.AUD:before { content: '$';}
        &.ZAR:before { content: 'R';}
        &.HKD:before { content: '$';}
        &.NZD:before { content: '$';}
        &.PLN:before { content: 'zł';}
        &.SGD:before { content: '$';}
        &.CNY:before { content: '¥';}
        &.XDR:before { content: '';}
        &.GVT:before { content: '';}
      }

      input {
        border: none;
        background: #fff;
        outline: none;

        max-width: 100%;
        padding: 0 $spacing/2 0 $spacing*2.5;
        // padding: 0 $spacing/2 0 $spacing*4.5;

        line-height: 40px;
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        color: $color-primary;
      }
    }

    &.grid {
      >li {
        width: (100%/3);
        margin-bottom: $spacing;

        a { height: 80px; }

        span.list-left { width: 0px; }

        span.symbol {
          margin-left: -$spacing;
          left: 50%;
        }

        h2 {
          @include animation(fadein $transition-speed-slow 1);
          display: inline-block;
          top: 35px;
          left: 0;
          right: 0;

          font-weight: 400;
          font-size: em-calc(12);
          text-align: center;
          color: $color-secondary;
        }

        h3 {
          @include transition(opacity $transition-speed-fast);
          opacity: 0;
        }
      }
    }

    &.sub {
      padding-top: $spacing;
      >li {
        position: relative;
        span.list-left { left: 0; }
        span.symbol {
          left: 0;
          // left: $spacing*3;
          // text-align: left;
          // color: $color-secondary;
        }
      }
    }

    &.actions {
      >li {
        width: 50%;
        padding: 0 $spacing/4;

        &:nth-child(odd) { padding-left: $spacing/2; }
        &:nth-child(even) { padding-right: $spacing/2; }
      }

      span.list-left { background-color: #f6f6f5; }
      span.symbol {
        color: $color-secondary;
        &:before { font-size: em-calc(18,28); }
      }
      span.text {
        position: absolute;
        top: 0;
        left: $spacing*2.3;
        z-index: 4;

        font-size: em-calc(14);
        color: $color-secondary;
      }
    }
  }
}

ol {}

.main-view{
  @include transition-delay($transition-speed-slow);
  @include transition(opacity ($transition-speed-slow*2));
  position: absolute;
  left: 0;
  right: 0;

  &.ng-enter { @include transition-delay($transition-speed-slow*2); }

  &.ng-leave { @include transition-delay($transition-speed-slow); }
}