// elements/lists.scss

dl {
  dt {
    font-weight: bold;
  }
  dd {
  }
}

ul {

  &.currency-list {
    @include reset-list;
    margin: 0;
    padding: 0;

    >li {
      margin: 0 auto $spacing/2;
      padding: 0;
      height: 60px;
      line-height: 60px;

      position: relative;

      background: $color-white;

      a {
        display: block;
        padding: 0 $spacing/2 0 $spacing*2.5;
      }

      h2 {
        margin: 0;

        line-height: 40px;
        color: $color-primary;
      }

      h3 {
        margin: 0;
      }

      span.list-left {
        width: $spacing*2;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        line-height: 60px;
        font-size: 28px;
        text-align: center;
        color: $color-primary;

        background: $color-secondary;

        &.USD:before { content: '$';}
        &.EUR:before { content: '€';}
        &.GBP:before { content: '£';}
        &.JPY:before { content: '¥';}
        &.NOK:before { content: 'kr';}
        &.SEK:before { content: 'kr';}
        &.DKK:before { content: 'kr';}
        &.CHF:before { content: 'Fr';}
        &.CAD:before { content: '$';}
        &.AUD:before { content: '$';}
        &.ZAR:before { content: 'R';}
        &.HKD:before { content: '$';}
        &.NZD:before { content: '$';}
        &.PLN:before { content: 'zł';}
        &.SGD:before { content: '$';}
        &.CNY:before { content: '¥';}
        &.XDR:before { content: '';}
        &.GVT:before { content: '';}
      }

      span.symbol {
        display: inline-block;
        min-width: 40px;
        width: 10%;
        color: $color-secondary;
        font-size: 28px;
        font-weight: 700;
      }

      input {
        border: none;
        background: #fff;
        outline: none;

        font-weight: 700;
        font-size: 48px;
        line-height: 40px;
        color: $color-primary;
        max-width: 85%;
        text-align: center;
      }
    }
  }
}

ol {}
