
p {
  margin: 0 0 $spacing;
}

a {
  @include transition(color $transition-speed-fast);
  cursor: pointer;

  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($color-primary,10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $spacing;
  padding: 0;

  line-height: 1em;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  text-transform: $heading-text-transform;
}

h1 {
  font-size: em-calc(48);
}

h2 {
  font-size: em-calc(36);
}

h3 {
  font-size: em-calc(12);
  font-weight: 400;
}

h4 {
  font-size: em-calc(28);
  line-height: em-calc(30,28);
  text-transform: uppercase;
}

h5 {
  font-size: em-calc(24);
  font-weight: 400;
}

h6 {
  font-size: em-calc(14);
  font-weight: 400;
}

hgroup {
  h1, h2, h3, h4, h5, h6 {
    + h1, + h2, + h3, + h4, + h5, + h6 {
      margin-top: -$spacing / 2;
    }
  }
}

.logo-title {
  cursor: default;
  margin: $spacing*2 auto;
  font-size: em-calc(24);
  font-weight: 700;
  line-height: em-calc(30,24);
  text-transform: uppercase;
  color: $color-secondary;
  -webkit-font-smoothing: antialiased;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;

    margin-right: $spacing/2;
    width: 30px;
    height: 30px;

    background: url('/img/logo-light-@2x.png') left center no-repeat;
    background-size: 30px 30px;
  }
}
a.logo-title { cursor: pointer; }
