
$form-border-radius: $radius;
$form-input-border: darken($color-light,10%);
$form-input-background: $color-white;
$form-input-placeholder: $color-primary;

$input-button: '
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"]
  ';
$input-numbers: '
  input[type="tel"],
  input[type="number"]
  ';
$input-datetime: '
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"]
  ';
$input-text: '
  textarea,
  input[type="text"],
  input[type="search"],
  input[type="url"],
  input[type="email"],
  input[type="password"]
  ';
$input-textish: '
  #{$input-text},
  #{$input-numbers},
  #{$input-datetime}
  ';
$input-dropdown: '
  select
  ';
$input-other: '
  input[type="color"]
  ';
$input-file: '
  input[type="file"]
  ';
$input-checkradio: '
  input[type="checkbox"],
  input[type="radio"]
  ';

$input-all: '
  #{$input-dropdown},
  #{$input-text},
  #{$input-numbers},
  #{$input-datetime},
  #{$input-other}';

@mixin default-input {
  @include clearfix;
  @include transition(border $transition-speed, box-shadow $transition-speed);

  display: inline-block;

  position: relative;

  margin: 0;
  padding: 0 $spacing/2;

  width: 100%;
  height: $size-medium;
  line-height: $size-medium - 2;

  font-size: $font-size-medium;
  color: $font-color;

  outline: none;

  border: 1px solid $form-input-border;
  border-radius: $form-border-radius;

  background: $form-input-background;

  @include placeholder($form-input-placeholder);

  &.large {
    padding: 0 $spacing;

    height: $size-large;
    line-height: $size-large - 2;

    font-size: $font-size-large;
  }

  &.small {
    height: $size-small;
    line-height: $size-small - 2;

    font-size: $font-size-small;
  }

  &:focus {
    border-color: darken($form-input-border,10%);
  }

  &:hover {
    border-color: lighten($form-input-border,10%);
  }
}


.input {
  margin-bottom: $spacing;

  &.tight { margin-bottom: $spacing/2; }

  label {
    display: block;

    margin: 0;
    line-height: $size-medium;

    font-weight: bold;

    &.small {
      line-height: $size-small;
    }

    &.large {
      line-height: $size-large;
    }

    span {
      display: inline-block;

      margin: 0 0 0 10px;

      font-weight: normal;
      font-size: 11px;
      color: $color-gray-light;
    }
  }

  &.side {
    padding-left: 90px;
    position: relative;

    >label:first-child {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
