// Styles for other elements

.input {
  #{$input-other} {
  }
}

.fromValue {
  &::-webkit-input-placeholder {
    color: rgba($color-dark, 0.15);
    line-height: 40px;
    padding-top: 9px;
  }

  &:-moz-placeholder {
    color: rgba($color-dark, 0.15);
    line-height: 40px;
    padding-top: 9px;
  }

  &::-moz-placeholder {
    color: rgba($color-dark, 0.15);
    line-height: 40px;
    padding-top: 9px;
  }

  &:-ms-input-placeholder {
    color: rgba($color-dark, 0.15);
    line-height: 40px;
    padding-top: 9px;
  }
}