section.primary: .row
  .col.large-6.center.text-center
    .logo-title Gengi.is

    h5 Gengisupplýsingar á svipstundu
    p Gengi.is er gengisreiknivél fyrir íslenska krónu þar sem þú getur nálgast nýjustu upplýsingar um gengi gjaldmiðla á fljótlegan og aðgengilegan hátt.
    p Vefurinn er sérstaklega hugsaður með hraða og snjallsíma í huga og er hannaður og framleiddur af vefstúdíóinu Form5.

    .box.secondary.contact-us
      a(href='https://github.com/Form5/gengi-is/issues').icon-block.ss-icon.ss-social.ss-octocat
      a(href='mailto:hello@form5.is').icon-block.ss-icon.ss-standard.ss-mail
      p Ertu með fyrirspurn eða ábendingu? <br/>Hafðu samband við okkur í tölvupósti eða á GitHub.

section.light: .row
  .col.large-6.center.text-center
    .box.white
      h4 Notkun
      p Hægt er að sækja gengisupplýsingar ákveðins gjaldmiðils með því að stimpla skammstöfun hans beint í vefslóðina.
      p Þannig má sækja gengi bandaríkjadals beint á slóðinni:
      .in-box gengi.is/<b>usd</b>
      p Einnig er hægt að slá inn upphæðir beint í vefslóðina og þannig má m.a. reikna út gengi 15 evra:
      .in-box gengi.is/<b>15eur</b>

      img.image.full.ios-logo(src='/img/ios-logo@2x.png')

      p Ef þú vilt alltaf geta gripið í gengisreiknivélina þá mælum við með því að þú bætir Gengi.is á heimaskjáinn þinn á iPhone eða Android.

      p: b Skoðaðu leiðbeiningar fyrir þinn síma:

      .in-box.split
        a.ss-icon.ss-standard.ss-link(href='http://www.tech-recipes.com/rx/44908/ios-add-website-shortcut-to-home-screen/',target='_blank') iPhone
        a.ss-icon.ss-standard.ss-link(href='http://mobile-pixels.com/pin-webapp-website-android-homescreen/',target='_blank') Android

    .box.white
      h4 Hverjir?

      .in-box.primary
        img.image.full.form5-logo(src='/img/form5-logo@2x.png')

      p <b>Form5</b> er vefstúdíó sem sérsmíðar gagnvirkar vörur af miklum metnaði en við höfum einstaka ástríðu fyrir því að skapa góða notendareynslu.

      p Ef þú hefur áhuga á forvitnast meira geturðu fundið okkur á vefnum:

      .in-box: a.ss-icon.ss-standard.ss-link(href='http://form5.is',target='_blank') Form5.is
      .in-box: a.ss-icon.ss-social.ss-twitter(href='http://twitter.com/form5',target='_blank') @Form5 á Twitter
      .in-box: a.ss-icon.ss-social.ss-facebook(href='http://facebook.com/HelloForm5',target='_blank') @Form5 á Facebook
      .in-box: a.ss-icon.ss-social.ss-mail(href='mailto:hello@form5.is') hello@form5.is

    .box.white
      h4 Hugmynda-<br/>fræðin

      p Eins og fyrr segir er Gengi.is sérstaklega hugsað með hraða og snjallsíma í huga. Við vildum skapa gagnvirka upplifun þar sem notandinn gæti á svipstundu umreiknað erlendar upphæðir í íslenskum krónum.

      p Gengi.is er það sem kalla mætti <b>vefapp</b>, ekki bara vegna þeirrar gagnvirku nálgunar sem við fórum í hönnun og notendaupplifun en einnig vegna þeirrar tækni sem notuð er við framkvæmdina.

      p Sú hugmynd kviknaði strax á fyrstu stigum verkefnisins að hægt yrði að umreikna gengi beint í vefslóð síðunnar og fá þannig niðurstöðu strax. Þá fannst okkur mikilvægt að þegar notandinn reiknaði gengi eða vafraði um síðuna að upplifunin væri bæði létt og hröð.


    .box.white
      h4 Hvernig?
      p Til að öðlast þá gagnvirkni og léttleika sem við sóttumst eftir að útfæra var ákveðið að notast við þróunarumhverfið <a href="http://angularjs.org/">AngularJS</a>. Angular er ný tækni sem þróuð er af Google og er sérstaklega hugsuð með veföpp í huga.
      p Veföpp eins og Gengi.is eru "<a href="http://en.wikipedia.org/wiki/Single-page_application">single-page application</a>" en þau skera sig frá hefðbundnum vefsíðum á þann hátt við notkun og gagnvirkni þarf ekki að hlaða niður nýjum skjám og/eða síðum þegar ólíkir hlutar vefappsins eru notaðir. Þannig er hægt að stytta biðtíma og búa til fumlausa og flæðandi upplifun.
      p Ef þú vilt fræðast frekar um tæknina að baki bendum við á forritunarkóðinn er öllum opinn á Github síðu verkefnisins.


      .in-box: a.ss-icon.ss-social.ss-octocat(href='http://github.com/form5/gengi-is',target='_blank') Gengi.is á GitHub


    .box.white
      h4 Gögnin
      p Upplýsingar um gengi gjaldmiðla eru sóttar í gegnum apis.is en það er verkefni á sviði opinna gagna þar sem nálgast má innlend gögn á afar aðgengilegan máta, en þær koma upprunalega frá Landsbanki Íslands, að undanskildum upplýsingum um gengi Bitcoin en þær koma frá CoinDesk.
      p Gengi.is ber ekki ábyrgð á villum sem upp kunna að koma við útreikning eða tæknilega útfærslu og er notkun vefappsins alfarið á ábyrgð notandans.

      .in-box: a.ss-icon.ss-standard.ss-link(href="http://docs.apis.is/#endpoint-currency",target='_blank') Apis.is
      .in-box: a.ss-icon.ss-standard.ss-link(href="http://landsbankinn.is/markadir/gjaldmidlar/",target='_blank') Landsbankinn
      .in-box: a.ss-icon.ss-standard.ss-link(href="http://coindesk.com/",target='_blank') CoinDesk
