section.primary: .row
  .col.large-6.center.text-center
    .logo-title Gengi.is
    p Gengi.is er hugmynd vefstúdíósins Form5 um betri gengisreiknivél fyrir íslenska krónu, þá hvað helst á snjallsímum þegar maður þarf að gengisreikna í hvelli

    .box.secondary.contact-us
      a.icon-block.ss-icon.ss-social.ss-octocat
      a.icon-block.ss-icon.ss-standard.ss-mail
      p Sendu okkur ábendingu eða<br/>fyrirspurn í pósti eða á GitHub

section.light: .row
  .col.large-6.center.text-center
    .box.white
      h4 Vissirðu?
      p Þú getur fengið niðurstöðu með því að slá inn upphæð og gengi í urlinu. T.d.:
      .in-box gengi.is/<b>15usd</b>

      img.image.full.ios-logo(src='/img/ios-logo@2x.png')

      p Bættu Gengi.is á heimaskjáinn þinn á iPhone eða Android til að keyra það upp eins og app.

      p: b Leiðbeiningar

      .in-box.split
        a.ss-icon.ss-standard.ss-link(href='iphone') iPhone
        a.ss-icon.ss-standard.ss-link(href='http://mobile-pixels.com/pin-webapp-website-android-homescreen/',target='_blank') Android

    .box.white
      h4 Hverjir?

      .in-box.primary
        img.image.full.form5-logo(src='/img/form5-logo@2x.png')

      p <b>Form5</b> er lítið vefstúdíó sem sérsmíðar vefi og veföpp af miklum metnaði fyrir góðri upplifun notandans.

      .in-box: a.ss-icon.ss-standard.ss-link(href='http://form5.is',target='_blank') Form5.is
      .in-box: a.ss-icon.ss-social.ss-octocat(href='http://github.com/form5',target='_blank') @Form5
      .in-box: a.ss-icon.ss-social.ss-twitter(href='http://twitter.com/form5',target='_blank') @Form5
      .in-box: a.ss-icon.ss-social.ss-mail(href='mailto:hello@form5.is') hello@form5.is

    .box.white
      h4 Hvernig?
      p Gengi.is er <b>vefapp</b> sem er þróað með <b>AngularJS</b>-umhverfinu.
      p Verkefnið er <b>Open Source</b> og hægt að skoða á GitHub

      .in-box: a.ss-icon.ss-social.ss-octocat(href='http://github.com/form5/gengi-is',target='_blank') Gengi.is á GitHub

    .box.white
      h4 Hugmynda-<br/>fræðin
      p: b Gengi.is... Vefapp? Hvað er nú það?
      p Gengi.is er eitthvað sem kallast vefapp.

      p Fyrst vegna nálgunar í hönnun og upplifun notandans. Gengi.is hefur eina afmarkaða virkni rétt eins og reiknivél í ritill stýrikerfinu þínu, og er opnað í þeim eina tilgangi að fá niðurstöðu.
      p Þá er Gengi.is líka vefapp vegna tækninnar sem er undir húddinu, t.d. [hér þarf útskýringu á tæknilegu aspekti].

      p: b Af hverju ekki native app?
      p Við munum mögulega kynna native app til sögunnar á einhverjum tímapunkti en fyrir fyrstu útgáfu voru kostir vefappsins ótvíræðir. Að slá inn gengisútreikninginn í urlið er mjög snögg leið til að fá niðurstöðu og þá sérstaklega ef aðili kóperar url eins og gengi.is/15usd til að senda í tölvupósti, spjallforriti, o.s.frv. Sá sem móttekur þarf ekki að gera neitt - bara smellt á tengilinn.

    .box.white
      h4 Gögnin
      p Gengi.is sækir gögnin til lorem ipsum

      .in-box: a.ss-icon.ss-standard.ss-link(href="http://docs.apis.is/#endpoint-currency",target='_blank') Apis.is
      .in-box: a.ss-icon.ss-standard.ss-link(href="http://landsbankinn.is/markadir/gjaldmidlar/",target='_blank') Landsbankinn

    .box.white
      h4 Fyrirvari
      p Open source... Hönnun annað license...

      .in-box: a.ss-icon.ss-standard.ss-link(href="#") License 1
      .in-box: a.ss-icon.ss-standard.ss-link(href="#") License 2
