.row
  .col.large-6.center
    ul.currency-list.calc
      li
        span.list-left
        span.symbol(class='{{currency.shortName}}')
        input(type='text', ng-model='fromValue', pattern='[0-9]*', autofocus)
      li
        span.list-left
        span.symbol kr.
        input(type='text', value='{{calcRate(currency.value, fromValue)}}')
