.row
  .col.large-6.center
    ul.currency-list.calc
      li: .flip
        span.list-left
        span.symbol(class='{{currency.shortName}}')
        input.fromValue(type='text', ng-model='fromValue', placeholder='1', autofocus)
      li: .flip
        span.list-left
        span.symbol.ISK
        input(type='text', value='{{calcRate(currency.value, fromValue) || currency.value.toFixed(1)}}', readonly)
