nav.top
  .row: .col.large-6.center
    ul(class='show-{{listView}}')
      li.list(ng-click='updateView("list")') Listi
      li.grid(ng-click='updateView("grid")') Grid
      li.active

.row
  .col.large-6.center
    ul.currency-list(class='{{listView}} {{listExpand}}')
      li: .flip
        a(ng-href='/#/EUR', href='/#/EUR')
          span.list-left
          span.symbol.EUR
          h2.ng-binding EUR
          h3.ng-binding Evra
      li: .flip
        a(ng-href='/#/USD', href='/#/USD')
          span.list-left
          span.symbol.USD
          h2.ng-binding USD
          h3.ng-binding Bandaríkjadalur
      li: .flip
        a(ng-href='/#/GBP', href='/#/GBP')
          span.list-left
          span.symbol.GBP
          h2.ng-binding GBP
          h3.ng-binding Sterlingspund
      li: .flip
        a(ng-href='/#/BTC', href='/#/BTC')
          span.list-left
          span.symbol.BTC
          h2.ng-binding BTC
          h3.ng-binding Bitcoin
      li: .flip
        a(ng-href='/#/AUR', href='/#/AUR')
          span.list-left
          span.symbol.AUR
          h2.ng-binding AUR
          h3.ng-binding Auroracoin
      li: .flip
        a(ng-href='/#/DKK', href='/#/DKK')
          span.list-left
          span.symbol.DKK
          h2.ng-binding DKK
          h3.ng-binding Dönsk króna
      li: .flip
        a(ng-href='/#/PLN', href='/#/PLN')
          span.list-left
          span.symbol.PLN
          h2.ng-binding PLN
          h3.ng-binding Pólskt zloty
      li: .flip
        a(ng-href='/#/SEK', href='/#/SEK')
          span.list-left
          span.symbol.SEK
          h2.ng-binding SEK
          h3.ng-binding Sænsk króna
      li: .flip
        a(ng-href='/#/CNY', href='/#/CNY')
          span.list-left
          span.symbol.CNY
          h2.ng-binding CNY
          h3.ng-binding Kínverskt Yuan
      li: .flip
        a(ng-href='/#/NOK', href='/#/NOK')
          span.list-left
          span.symbol.NOK
          h2.ng-binding NOK
          h3.ng-binding Norsk króna
      li: .flip
        a(ng-href='/#/CHF', href='/#/CHF')
          span.list-left
          span.symbol.CHF
          h2.ng-binding CHF
          h3.ng-binding Svissneskur franki
      li: .flip
        a(ng-href='/#/JPY', href='/#/JPY')
          span.list-left
          span.symbol.JPY
          h2.ng-binding JPY
          h3.ng-binding Japanskt jen
      li: .flip
        a(ng-href='/#/CAD', href='/#/CAD')
          span.list-left
          span.symbol.CAD
          h2.ng-binding CAD
          h3.ng-binding Kanadadalur
      li: .flip
        a(ng-href='/#/AUD', href='/#/AUD')
          span.list-left
          span.symbol.AUD
          h2.ng-binding AUD
          h3.ng-binding Ástralskur dalur
      li: .flip
        a(ng-href='/#/ZAR', href='/#/ZAR')
          span.list-left
          span.symbol.ZAR
          h2.ng-binding ZAR
          h3.ng-binding Suður-Afrískt rand
      li: .flip
        a(ng-href='/#/HKD', href='/#/HKD')
          span.list-left
          span.symbol.HKD
          h2.ng-binding HKD
          h3.ng-binding Hong Kong dalur
      li: .flip
        a(ng-href='/#/NZD', href='/#/NZD')
          span.list-left
          span.symbol.NZD
          h2.ng-binding NZD
          h3.ng-binding Nýsjálenskur dalur
      //- li: .flip
      //-   a(ng-href='/#/XDR', href='/#/XDR')
      //-     span.list-left
      //-     span.symbol.XDR
      //-     h2.ng-binding XDR
      //-     h3.ng-binding SDR-sérstök DDR
      li: .flip
        a(ng-href='/#/SGD', href='/#/SGD')
          span.list-left
          span.symbol.SGD
          h2.ng-binding SGD
          h3.ng-binding Singapore dollar
      li: .flip
        a(ng-href='/#/GVT', href='/#/GVT')
          span.list-left
          span.symbol.GVT
          h2.ng-binding GVT
          h3.ng-binding Gengisvísitalan

      li.actions.expander: .flip
        a(ng-hide='listExpand',ng-click='expandList("expand")')
          span.list-left
          span.symbol.ss-icon.ss-standard.ss-plus
          span.text Sýna fleiri
        a(ng-show='listExpand',ng-click='expandList("")')
          span.list-left
          span.symbol.ss-icon.ss-standard.ss-hyphen
          span.text Sýna færri
      li.actions.about: .flip
        a(ng-href='/#/about', href='/#/about', scroll-to-top)
          span.list-left
          span.symbol.ss-icon.ss-standard.ss-info
          span.text Um Gengi.is

include shared/_footer
