.row
  .col.large-5.center
    ul.currency-list(class='{{listView}}')
      li(ng-repeat='item in items.results')
        a(ng-href='/#/{{item.shortName}}')
          span.list-left(class='{{item.shortName}}')
          hgroup
            h2 {{item.shortName}}
            h3 {{item.longName}}
          span {{listView}}
