// Styles for standalone iOS mode
body.standalone {
  border-top: 20px solid $color-dark;
  .header-wrap {
    top: 20px;
  }
}

.header-wrap {
  @include transition(opacity $transition-speed-slow);
  // @include animation(nav-show $transition-speed-slow 1);
  overflow: hidden;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .b & { height: 60px; }

  &.ng-enter { @include transition-delay($transition-speed-slow); height: 60px; opacity: 0; }
  &.ng-enter-active { height: 60px; opacity: 1; }
  &.ng-leave { height: 60px; opacity: 1; }
  &.ng-leave-active { height: 60px; opacity: 0; }
}

header {
  @include user-select(none);
  margin: 0 auto;
  padding: 0;
  height: 60px;

  color: $color-light;

  background: $color-secondary;

  .row {
    margin-bottom: 0;

    >.col {
      position: relative;
    }
  }

  h1 {
    cursor: default;
    margin: 0;
    font-size: em-calc(24);
    line-height: em-calc(60,24);
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;

    background: url('/img/logo-@2x.png') left center no-repeat;
    background-size: 30px 30px;
    padding-left: 40px;
  }

  .header-right {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
  }
  .sub {
    h1 {
      padding-top: 8px;
      line-height: em-calc(24,24);

      background: none;
      padding-left: 0;

      >small {
        display: block;
        padding-left: $spacing*2 + 1;
        font-size: em-calc(12,24);
        line-height: em-calc(12,12);
        text-transform: none;
      }
    }

    .go-back {
      cursor: pointer;
      float: left;
      width: $spacing*2;
      height: $spacing*3;

      color: $color-light;

      &:before {
        line-height: $spacing*3;
        font-size: em-calc(22);
      }
    }
  }
}
