
header {
  @include user-select(none);
  margin: 0 auto $spacing;
  padding: 0;

  color: $color-light;

  background: $color-secondary;

  >.row { margin-bottom: 0; }

  h1 {
    margin: 0;
    font-size: em-calc(24);
    line-height: em-calc(55,24);
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }
}
