
nav.top {
  @include transition($transition-speed-slow);
  overflow: hidden;
  height: 50px;
  position: relative;

  .ng-enter & { @include transition-delay($transition-speed-slow); @include translate3d(0,-60px,0); }
  .ng-enter-active & { @include translate3d(0,0px,0); }
  .ng-leave & { @include translate3d(0,0px,0); }
  .ng-leave-active & { @include translate3d(0,-60px,0); }
}

nav {

  &.top {
    @include user-select(none);
    overflow: hidden;
    margin: 0 auto $spacing;
    height: 50px;

    background: $color-secondary;

    ul {
      @include reset-list;
      @include clearfix;

      margin: 0;
      padding: 0;
      position: relative;

      line-height: 28px;

      border: 1px solid $color-light;

      >li {
        @include transition(color $transition-speed-fast ease-in-out);
        cursor: pointer;
        float: left;
        width: 50%;

        position: relative;
        z-index: 1;

        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        color: $color-light;

        -webkit-font-smoothing: antialiased;
      }

      &.show-list >li.list,
      &.show-grid >li.grid { color: $color-secondary; -webkit-font-smoothing: auto; }

      >li.active {
        @include transition(left $transition-speed ease-in-out);
        width: 50%;

        position: absolute;
        top: 0;
        left: 0%;
        bottom: 0;
        z-index: 0;

        background: $color-light;
      }
      &.show-grid >li.active { left: 50%; }
    }
  }
}
